{% extends "base.html" %}

{% block app_content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>

</style>

    <h1>Know About Us</h1>
    <img src="/static/images/EMS.png" alt="Enterprise Management System" style="width:200px"> 
    <p>This is an Enterprise Management System for handling the transactions of Enterprise.</p>

    <!-- 
    	if current_user.job == 'Acc' then url_for('acc_index') else url_for('index') 
    -->

    <p><a href="{{ url_for('index') }}"  class="btn btn-lg btn-success">Back</a></p>
{% endblock %}






